.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navi-inner-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(127, 127, 127);
}

.menu a:hover {
  color: rgb(245, 130, 30);
}

.menu h3 {
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.registration {
  display: flex;
  justify-content: flex-end;
}

.registration a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

.navigation-bottom-hr {
  background: rgb(248, 163, 92);
  height: 1px;
  border: 0;
  margin: 0px;
}

.orange-line {
  display: block;
  height: 60px;
  background: rgb(253, 234, 218);
}

.orange-bottom-hr {
  margin: 0px;
  background: rgb(197, 197, 197);
  height: 1px;
  border: 0;
}